*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* css */
}
.header{
    height: 60px;
    display: flex; 
    background-color: rgb(27, 26, 37);
}
.header_logo{
    display: flex;
    align-items: center; 
    color: tomato;
     margin: 0 25px;
     border: 2px solid red;
     /* flex:1; */
     
}
.header_logoTitle{
   margin-left: 10px;
}

.header_search{
    color: white; 
    display: flex;
    align-items: center;
    flex:2;
    border: 2px solid red;
    margin: 0 25px;

}
.header_searchInput{
    width: 100%;
    height: 25px;
}

.header_searchIcon{
    background-color: tomato;
    padding: 5px;
}



.header_nav{
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    flex: 1;
}

.nav_item{
    display: flex;
    flex-direction: column;;
}

.nav_itemLineTwo{
    font-weight: bold;
}

.home_row{
    display: flex;
    /* margin-right: -10px; */
    margin-bottom: 5px;
}

.product{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 20px;
    align-items: center;
    /* margin-right: 5px; */
    background-color: rgb(228, 236, 230);
}




.product_image{
    width: 400px;
}

.product_button{
     background-color: tomato;
     width:fit-content;

}






